@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}
body{
    background-color: #B2C8BE;
    position: relative;
    height: 100vh;
}
header{
    display: flex;
    flex-direction: column;
    text-align: center;
}
main{
    width: 100%;
    overflow: hidden;
}
.navbar{
    position: relative;
    display: flex;
    background-color: #F2EFE3;
    border-radius: 5rem;
    height: 3rem;
    width: 50%;
    margin: 1rem 25% 1rem 25%;
    font-size: 1.3rem;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .4));
}
a{
    text-decoration: none;
    color: #284353;
    border-radius: 5rem;
    align-content: center;
    flex: 1;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0;
}
a:hover{
    background-color: #efb2b8;
    transition: all .3s ease;
}
.navbar-estudiante{
    color: #FBF2EE;
}
.slider{
    position: absolute;
    height: 100%;
    width: 33.33%;
    top: 0;
    left: 33.33%;
    background-color: #F38994;
    border-radius: 5rem;
    transition: all 0.3s ease;
}
.titulo-perfil-academico{
    position: relative;
    display: flex;
    color: #F6F7FF;
    background-color: #4F6C70;
    border-radius: 1rem;
    height: 4.5rem;
    width: 90%;
    margin: 0 5% 0 5%;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .4));
}
.titulo-perfil-academico-izquierda{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: 100%;
    height: 100%;
}
.pin{
    color: #FF7B93;
    font-size: 2rem;
}
.estudiante{
    color: #FAE9CF;
    font-size: 2rem;
}
.titulo-perfil-academico-medio, .titulo-perfil-academico-derecha{
    align-content: center;
    width: 100%;
    height: 100%;
}
.titulo-perfil-academico-img{
    position: absolute;
    right: 5%;
    top: -6rem;
    height: 8rem;
}
.carrusel{
    display: flex;
    transition: transform 0.5s ease;
    padding: 1rem 0 1rem 0;
}
.item1{
    grid-area: foto-estudiante;
}
.item2{
    grid-area: perfil-estudiante;
}
.item3{
    grid-area: horarios;
}
.item4{
    grid-area: resultados-academicos;
}
.item5{
    grid-area: historial-academico;
}
.grid-container{
    flex-shrink: 0;
    width: 90%;
    height: 100%;
    margin: 0 5% 0 5%;
    text-align: center;
    display: grid;
    gap: 1.5rem;
    grid-template-areas: 
    'foto-estudiante resultados-academicos resultados-academicos resultados-academicos perfil-estudiante'
    'horarios resultados-academicos resultados-academicos resultados-academicos perfil-estudiante'
    'horarios historial-academico historial-academico historial-academico perfil-estudiante'
    'horarios historial-academico historial-academico historial-academico perfil-estudiante'
    ;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .4));
}
.item1, .item2, .item3, .item4, .item5, .contenedor-apartados-grid{
    background-color: #F8EFE0;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: #223E65;
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
}
.item1{
    
    padding: 0;
    max-height: 25vh;
}
.item2{
    max-height: 66vh;
}
.item3{
    max-height: 40vh;
} 
.item4{
    max-height: 25vh;
}
.item5{
    max-height: 35vh;
    backface-visibility: hidden
}
.item1:hover, .item2:hover, .item3:hover, .item4:hover, .item5:hover, .item6:hover{
    transform: scale(1.02);
}
.img-grid{
    width: 10rem;
    height: 10rem;
}
.contenedor-tabla-historial-academico-titulo{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.contenedor-tabla-historial-academico-titulo-derecha{
    display: flex;
    gap: .2rem;
}
.contenedor-tabla-historial-academico-titulo-derecha select{
    border: none;
    border-radius: 0.4rem;
    background-color: transparent;
    color: #223E65;
    cursor: pointer;
}
.contenedor-tablas-main{
    width: 100%;
    overflow: hidden;
    background-color: #D7D5C8;
    border-radius: 1rem;
    border: 1px solid ;
    margin-top: 1rem;
}
.contenedor-tablas-main:hover, .contenedor-tabla-historial-academico-titulo-derecha select:hover{
    background-color: #cac7b9;
    transition: transform .5s ease;
}
table{
    width: max-content;
}
td, th{
    padding: 0.5rem 1rem 0.5rem 0;
    font-size: 1rem;
    text-align: center;
}
.fondo-apartados-grid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blur(1px);
    display: none;
}
.cerrar-fondo-apartados-grid{
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .7rem;
    font-size: 2rem;
    cursor: pointer;
    background-color: rgba(181, 173, 173, 0.8);
    border-radius: .5rem;
    transition: all .3s ease;
}
.cerrar-fondo-apartados-grid:hover{
    background-color: rgba(186, 203, 193, 1);
    color: #b81d2d;
}
.contenedor-apartados-grid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}