@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
body{
    background-color: #B2C8BE;
}
header{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.navbar{
    position: relative;
    display: flex;
    background-color: #F2EFE3;
    border-radius: 5rem;
    height: 3rem;
    width: 50%;
    margin: 1rem 25% 1rem 25%;
    font-size: 1.3rem;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .4));
}
a{
    text-decoration: none !important;
    color: #284353 !important;
    border-radius: 5rem;
    align-content: center;
    flex: 1;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0;
}
a:hover{
    background-color: #efb2b8;
    transition: all .3s ease;
}
.navbar-estudiante{
    color: #FBF2EE;
}
.slider{
    position: absolute;
    height: 100%;
    width: 33.33%;
    top: 0;
    left: 33.33%;
    background-color: #F38994;
    border-radius: 5rem;
    transition: all 0.3s ease;
}
.titulo-perfil-academico{
    position: relative;
    display: flex;
    color: #F6F7FF;
    background-color: #4F6C70;
    border-radius: 1rem;
    height: 4.5rem;
    width: 90%;
    margin: 0 5% 0 5%;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .4));
}
.titulo-perfil-academico-izquierda{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: 100%;
    height: 100%;
}
.pin{
    color: #FF7B93;
    font-size: 2rem;
}
.estudiante{
    color: #FAE9CF;
    font-size: 2rem;
}
.titulo-perfil-academico-medio, .titulo-perfil-academico-derecha{
    align-content: center;
    width: 100%;
    height: 100%;
}
.titulo-perfil-academico-img{
    position: absolute;
    right: 5%;
    top: -6rem;
    height: 8rem;
}
.item1{
    grid-area: foto-estudiante;
}
.item2{
    grid-area: perfil-estudiante;
}
.item3{
    grid-area: horarios;
}
.item4{
    grid-area: asignaturas;
}
.item5{
    grid-area: resultados-academicos;
}
.item6{
    grid-area: historial-academico;
}
.grid-container{
    width: 90%;
    height: 100%;
    margin: 1.5rem 5% 0 5%;
    text-align: center;
    display: grid;
    gap: 1.5rem;
    grid-template-areas: 
    'foto-estudiante perfil-estudiante perfil-estudiante asignaturas'
    'foto-estudiante resultados-academicos resultados-academicos asignaturas'
    'horarios historial-academico historial-academico asignaturas'
    ;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .4));
}
.item1, .item2, .item3, .item4, .item5, .item6{
    position: relative;
    background-color: #F8EFE0;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: #223E65;
    transition: all .3s ease;
}
.item1:hover, .item2:hover, .item3:hover, .item4:hover, .item5:hover, .item6:hover{
    transform: scale(1.02);
}
.img-grid{
    width: 10rem;
    height: 10rem;
}
