@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}
body{
    background-color: #B2C8BE;
    position: relative;
    height: 100vh;
}
header{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
main{
    width: 100%;
    overflow: hidden;
}
.navbar{
    position: relative;
    display: flex;
    background-color: #F2EFE3;
    border-radius: 5rem;
    height: 3rem;
    width: 50%;
    margin: 1rem 25% 1rem 25%;
    font-size: 1.3rem;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .4));
}
a{
    text-decoration: none;
    color: #284353;
    border-radius: 5rem;
    align-content: center;
    flex: 1;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    transition: all .3s ease;
}
a:hover{
    background-color: #efb2b8;
}
.navbar-estudiante{
    color: #FBF2EE;
}
.slider{
    position: absolute;
    height: 100%;
    width: 33.33%;
    top: 0;
    left: 33.33%;
    background-color: #F38994;
    border-radius: 5rem;
    transition: all 0.3s ease;
}
.titulo-perfil-academico{
    position: relative;
    display: flex;
    color: #F6F7FF;
    background-color: #4F6C70;
    border-radius: 1rem;
    height: 4.5rem;
    width: 90%;
    margin: 0 5% 0 5%;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .4));
}
.titulo-perfil-academico-izquierda{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    padding-left: 1rem;
    width: 100%;
    height: 100%;
}
.titulo-perfil-academico-izquierda span{
    font-size: 4rem;
}
.titulo-perfil-academico-izquierda span:first-child{
    color: #FE7A94;
}
.titulo-perfil-academico-izquierda span:nth-child(2){
    color: #F8E8CE;
}
.pin{
    left: 18%;
    position: absolute;
    top: -1.5rem;
    font-size: 3rem;
    color: #F98A96;
}
.titulo-perfil-academico-medio, .titulo-perfil-academico-derecha{
    align-content: center;
    width: 100%;
    height: 100%;
}
.titulo-perfil-academico-img{
    position: absolute;
    right: 5%;
    top: -6rem;
    height: 8rem;
}
.carrusel{
    display: flex;
    transition: transform 0.5s ease;
    padding: 1rem 0 1rem 0;
}
.item1{
    grid-area: cambiar-contraseña;
}
.item2{
    grid-area: cerrar-sesion;
}
.item3{
    grid-area: foto-estudiante;
}
.item4{
    grid-area: perfil-estudiante;
}
.item5{
    grid-area: horarios;
}
.item6{
    grid-area: resultados-academicos;
}
.item7{
    grid-area: historial-academico;
}
.item8{
    grid-area: preguntas-frecuentes;
}
.item9{
    grid-area: informacion-soporte;
}
.item10{
    grid-area: reportar-problema;
}
.grid-container{
    flex-shrink: 0;
    width: 90%;
    height: 100%;
    margin: 0 5% 0 5%;
    text-align: center;
    display: grid;
    gap: 1.5rem;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .4));
}
.grid-container:first-child{
    grid-template-areas: 
        'cambiar-contraseña cerrar-sesion'
    ;
}
.grid-container:nth-child(2){
    grid-template-areas: 
    'foto-estudiante resultados-academicos resultados-academicos resultados-academicos perfil-estudiante'
    'horarios resultados-academicos resultados-academicos resultados-academicos perfil-estudiante'
    'horarios historial-academico historial-academico historial-academico perfil-estudiante'
    'horarios historial-academico historial-academico historial-academico perfil-estudiante'
    ;
}
.grid-container:last-child{
    grid-template-areas:
    'preguntas-frecuentes preguntas-frecuentes preguntas-frecuentes informacion-soporte'
    'preguntas-frecuentes preguntas-frecuentes preguntas-frecuentes informacion-soporte'
    'reportar-problema reportar-problema reportar-problema informacion-soporte'
    ;
}
.contenedor-cambiar-contraseña, .contenedor-cerrar-sesion{
    display: none;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .2));
    border-radius: 1rem;
    background-color: #DCE0D5;
    padding: 1rem;
    text-align:  center;
}
.contenedor-cerrar-sesion{
    padding: 3rem;
}
.cuenta-sticker-opciones{
    font-size: 15rem;
}
.contenedor-cambiar-contraseña p{
    margin-top: .5rem;
    font-size: 1rem;
}
.formulario-cambiar-contraseña{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.formulario-cambiar-contraseña input{
    background-color: #EDEAE0;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .1));
    color: #5D828A;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    font-size: 1rem;
}
.formulario-cambiar-contraseña button, .contenedor-cerrar-sesion button{
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    background-color: #C3CECD;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .3));
    font-size: 1rem;
    transition: all .3s ease;
}
.contenedor-cerrar-sesion button{
    margin: .5rem .2rem 0 .2rem;
    padding: 1rem 2rem 1rem 2rem;
}
.formulario-cambiar-contraseña button:hover, .boton-no-cerrar-sesion:hover{
    background-color: #92C7D0;
}
.boton-si-cerrar-sesion:hover{
    background-color: #E85975;
}
.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .contenedor-apartados-grid{
    background-color: #F8EFE0;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: #223E65;
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
    backface-visibility: hidden;
    position: relative;
}
.item3{
    padding: 0;
    max-height: 25vh;
}
.item4{
    max-height: 66vh;
}
.item5{
    max-height: 40vh;
} 
.item6{
    max-height: 25vh;
}
.item7{
    max-height: 35vh;
}
.item1:hover, .item2:hover, .item3:hover, .item4:hover, .item5:hover, .item6:hover, .item7:hover, .item8:hover, .item9:hover, .item10:hover{
    transform: scale(1.02);
}
.item3 .contenedor-tablas-main{
    border: none;
    margin: 0;
    background-color: transparent;
}
.img-grid{
    width: 15rem;
}
.informacion-top-puntos{
    position: absolute;
    top: -5px;
    left: 3%;
    font-size: 2rem;
}
.informacion-top-puntos span:first-child{
    color: #F82E2B;
}
.informacion-top-puntos span:nth-child(2){
    color: #B28D21;
}
.informacion-top-puntos span:last-child{
    color: #539279;
}
.informacion-top{
    top: 5%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #A2B5B1;
    border: 1px solid #9A9B94;
    padding: .5rem 0 .5rem 0;
    color: #F7F5F6;
}
.item4 .contenedor-tablas-main{
    margin-top: 4rem;
}
.contenedor-datos{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    width: 100%;
    text-align: left;
}
.contenedor-datos h4{
    width: 100%;
    background-color: #B9C2BF;
    border: 1px solid #8E897F;
    border-radius: .5rem;
    border-left: none;
    padding-left: .3rem;
}
.contenedor-apartados-informacion-personal-span{
    display: flex;
    flex-direction: column;
    border: 1px solid #8E897F;
    border-left: none;
    border-top: none;
    border-radius: .5rem;
    padding: .5rem .5rem .5rem .5rem;
}
.contenedor-apartados-informacion-personal, .contenedor-apartados-informacion-contacto{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    row-gap: .2rem;
    padding: 1rem;
    border-radius: 1rem;
}
.color-fondo-horario{
    background-color: #FB8690;
    width: 100%;
    height: 18%;
    color: #FCF6F1;
    position: absolute;
    top: 0;
    text-align: center;
    margin-bottom: 4rem;
}
.c{
    position: absolute;
    color: #414652;
    z-index: 1;
    white-space: nowrap;
    top: -1.7rem;
    font-size: 3rem;
}
.item5 .contenedor-tablas-main{
    border: 1px solid #8E9587;
    margin-top: 2rem;
}
.item5 h4{
    color: #FCF6F1;
    z-index: 1;
}
.contenedor-tablas-main{
    width: 100%;
    overflow: hidden;
    justify-items: center;
    border-radius: 1rem;
    border: 1px solid;
    margin-top: 1rem;
    transition: transform .5s ease;
}
.contenedor-tabla-historial-academico-titulo{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.contenedor-tabla-historial-academico-titulo-derecha{
    display: flex;
    gap: .2rem;
    width: 100%;
    justify-content: right;
    padding-right: .5rem;
}
.contenedor-tabla-historial-academico-titulo-derecha select{
    border: none;
    border-radius: 0.4rem;
    background-color: transparent;
    color: #223E65;
    cursor: pointer;
    transition: transform .5s ease;
}
.item4  .contenedor-tablas-main:hover, .contenedor-tabla-historial-academico-titulo-derecha select:hover{
    background-color: #f3f1ed;
}
table{
    width: max-content;
    text-align: center;
}
.tabla-horario{
    border-collapse: collapse;
}
td, th{
    padding: 0.5rem .5rem 0.5rem .5rem;
    font-size: 1rem;
    word-wrap: break-word;
}
.tabla-horario th{
    background-color: #BECBC2;
}
.tabla-horario th, .tabla-horario td{
    border: 1px solid #9B9583;
}
.tabla-horario tr td:not(:first-child){
    background-color: #DFD7C3;
    color: #413B39;
}
.tabla-horario tr td:first-child{
    color: #DDDED7;
}
.tabla-resultado-academico, .tabla-historial-academico{
    width: 100%;
    background-color: #FFFFFF;
    color: #010F3F;
    border-collapse: collapse;
}
.tabla-resultado-academico, .tabla-historial-academico, .tabla-resultado-academico th, .tabla-historial-academico th, .tabla-resultado-academico td, .tabla-historial-academico td{
    border: 2px solid #237CBA;
}
.tabla-resultado-academico th, .tabla-historial-academico th{
    background-color: #7EBAF7;
}
.contenedor-tablas-main:last-child{
    background-color: #FFFFFF;
}
.tabla-historial-academico-encabezado th, .tabla-historial-academico-encabezado-2 tr:first-child td:last-child{
    background-color: #FFFFFF;
}
.tabla-historial-academico-encabezado tr:first-child th:first-child{
    width: 5rem;
}
.tabla-historial-academico-encabezado-2 tr:nth-child(odd) td{
    background-color: #7EBAF7;
} 
.tabla-historial-academico-encabezado-2 tr:first-child td:last-child{
    padding: 0;
}
.tabla-historial-academico-encabezado-2-img-1{
    max-width: 5rem;
    max-height: 5rem;
}
.tabla-historial-academico-encabezado-2-img-2{
    max-width: 5rem;
    max-height: 10rem;
}
.contenedor-tablas-main:last-child p{
    color: #000000;
    font-size: .8rem;
    text-align: center;
    font-weight: 600;
    padding: 1rem;
}
.tabla-historial-academico-encabezado tr th:last-child{
    color: #000000;
}
tfoot tr:first-child td{
    text-align: left;
}
.contenedor-firmas{
    padding: 1rem;
    display: flex;
    gap: 5rem;
    font-size: 1rem;
    text-align: center;
    justify-self: center;
    margin: 2rem 0 2rem 0;
}
.fondo-apartados-grid{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blur(1px);
    display: none;
}
.cerrar-fondo-apartados-grid{
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .7rem;
    font-size: 2rem;
    cursor: pointer;
    background-color: rgba(181, 173, 173, 0.8);
    border-radius: .5rem;
    transition: all .3s ease;
}
.cerrar-fondo-apartados-grid:hover{
    background-color: rgba(186, 203, 193, 1);
    color: #b81d2d;
}
.contenedor-apartados-grid{
    cursor: default;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 85vh;
    max-width: 75vw;
}
::-webkit-scrollbar{
    width: 12px;
    height: 10px;
}
::-webkit-scrollbar-track{
    border: 1px solid #010F3F;
    background-color: #FFFFFF;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    border: 1px solid #010F3F;
}
::-webkit-scrollbar-thumb {
    background-color: #010F3F;
    border: 2px solid #f0f0f0;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #7EBAF7;
}
@media(max-width: 980px){
    .grid-container:nth-child(2){
        grid-template-areas: 
        'foto-estudiante foto-estudiante perfil-estudiante'
        'horarios horarios perfil-estudiante'
        'horarios horarios perfil-estudiante'
        'resultados-academicos resultados-academicos resultados-academicos'
        'historial-academico historial-academico historial-academico'
        'historial-academico historial-academico historial-academico'
        ;
    }
    .contenedor-firmas{
        flex-direction: column;
        padding-top: 1rem;
        margin-top: 2rem;
    }
    .contenedor-tabla-historial-academico-titulo-derecha{
        justify-content: left;
        margin-left: 1rem;
    }
}
@media(max-width: 705px){
    .contenedor-apartados-grid{
        left: 45%;
    }
}
@media(max-width: 580px){
    .navbar{
        width: 70%;
    }
    .pin{
        display: none;
    }
    .grid-container:first-child{
        grid-template-areas: 
        'cambiar-contraseña'
        'cerrar-sesion'
        ;
    }
    .grid-container:nth-child(2){
        grid-template-areas: 
        'foto-estudiante'
        'perfil-estudiante'
        'horarios'
        'resultados-academicos'
        'historial-academico'
        'historial-academico'
    }
    .grid-container:last-child{
        grid-template-areas:
        'preguntas-frecuentes'
        'informacion-soporte'
        'reportar-problema'
        ;
    }
    .titulo-perfil-academico-img{
        display: none;
    }
    .titulo-perfil-academico-izquierda span{
        display: none;
    }
}
@media(max-width: 472px){
    .navbar{
        width: 90%;
    }
    .contenedor-apartados-grid{
        left: 50%;
        top: 55%;
        max-height: 70vh;
    }
}