@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #b2c8be;
  position: relative;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

main {
  width: 100%;
  overflow: hidden;
}

.navbar {
  position: relative;
  display: flex;
  background-color: #f2efe3;
  border-radius: 5rem;
  height: 3rem;
  width: 50%;
  margin: 1rem 25% 1rem 25%;
  font-size: 1.3rem;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
}

a {
  text-decoration: none;
  color: #284353;
  border-radius: 5rem;
  align-content: center;
  flex: 1;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  transition: all 0.3s ease;
}

a:hover {
  background-color: #efb2b8;
}

.navbar-estudiante {
  color: #fbf2ee;
}

.slider {
  position: absolute;
  height: 100%;
  width: 33.33%;
  top: 0;
  left: 33.33%;
  background-color: #f38994;
  border-radius: 5rem;
  transition: all 0.3s ease;
}

.titulo-perfil-academico {
  position: relative;
  display: flex;
  color: #f6f7ff;
  background-color: #4f6c70;
  border-radius: 1rem;
  height: 4.5rem;
  width: 90%;
  margin: 0 5% 0 5%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
}

.titulo-perfil-academico-izquierda {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  padding-left: 1rem;
  width: 100%;
  height: 100%;
}

.titulo-perfil-academico-izquierda span {
  font-size: 4rem;
}

.titulo-perfil-academico-izquierda span:first-child {
  color: #fe7a94;
}

.titulo-perfil-academico-izquierda span:nth-child(2) {
  color: #f8e8ce;
}

.pin {
  left: 18%;
  position: absolute;
  top: -1.5rem;
  font-size: 3rem;
  color: #f98a96;
}

.titulo-perfil-academico-medio,
.titulo-perfil-academico-derecha {
  align-content: center;
  width: 100%;
  height: 100%;
}

.titulo-perfil-academico-img {
  position: absolute;
  right: 5%;
  top: -6rem;
  height: 8rem;
}

.carrusel {
  display: flex;
  transition: transform 0.5s ease;
  padding: 1rem 0 1rem 0;
}

.item1 {
  grid-area: cambiar-contraseña;
}

.item2 {
  grid-area: cerrar-sesion;
}

.item3 {
  grid-area: foto-secretaria;
}

.item4 {
  grid-area: perfil-secretaria;
}

.item5 {
  grid-area: consultar-solicitudes;
}

.item6 {
  grid-area: generar-reportes;
}

.item7 {
  grid-area: inscripciones;
}

.item8 {
  grid-area: preguntas-frecuentes;
}

.item9 {
  grid-area: informacion-soporte;
}

.item10 {
  grid-area: reportar-problema;
}

.grid-container {
  flex-shrink: 0;
  width: 90%;
  height: 100%;
  margin: 0 5% 0 5%;
  text-align: center;
  display: grid;
  gap: 1.5rem;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
}

.grid-container:first-child {
  grid-template-areas: "cambiar-contraseña cerrar-sesion";
}

.grid-container:nth-child(2) {
  grid-template-areas:
    "foto-secretaria generar-reportes generar-reportes generar-reportes perfil-secretaria"
    "consultar-solicitudes generar-reportes generar-reportes generar-reportes perfil-secretaria"
    "consultar-solicitudes inscripciones inscripciones inscripciones perfil-secretaria"
    "consultar-solicitudes inscripciones inscripciones inscripciones perfil-secretaria";
}

.grid-container:last-child {
  grid-template-areas:
    "preguntas-frecuentes preguntas-frecuentes preguntas-frecuentes informacion-soporte"
    "preguntas-frecuentes preguntas-frecuentes preguntas-frecuentes informacion-soporte"
    "reportar-problema reportar-problema reportar-problema informacion-soporte";
}

.contenedor-cambiar-contraseña,
.contenedor-cerrar-sesion {
  display: none;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  border-radius: 1rem;
  background-color: #dce0d5;
  padding: 1rem;
  text-align: center;
}

.contenedor-cerrar-sesion {
  padding: 3rem;
}

.cuenta-sticker-opciones {
  font-size: 15rem;
}

.contenedor-cambiar-contraseña p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.formulario-cambiar-contraseña {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.formulario-cambiar-contraseña input {
  background-color: #edeae0;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
  color: #5d828a;
  border-radius: 1rem;
  border: none;
  padding: 1rem;
  font-size: 1rem;
}

.formulario-cambiar-contraseña button,
.contenedor-cerrar-sesion button {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  background-color: #c3cecd;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
  font-size: 1rem;
  transition: all 0.3s ease;
}

.contenedor-cerrar-sesion button {
  margin: 0.5rem 0.2rem 0 0.2rem;
  padding: 1rem 2rem 1rem 2rem;
}

.formulario-cambiar-contraseña button:hover,
.boton-no-cerrar-sesion:hover {
  background-color: #92c7d0;
}

.boton-si-cerrar-sesion:hover {
  background-color: #e85975;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8,
.item9,
.item10,
.contenedor-apartados-grid {
  background-color: #f8efe0;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: #223e65;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  backface-visibility: hidden;
}

.item3 {
  padding: 0;
  max-height: 25vh;
}

.item4 {
  max-height: 66vh;
}

.item5 {
  max-height: 40vh;
}

.item6 {
  max-height: 25vh;
}
.item7{
  max-height: 35vh;
}
.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover,
.item5:hover,
.item6:hover,
.item7:hover,
.item8:hover,
.item9:hover,
.item10:hover {
  transform: scale(1.02);
}

.item3 .contenedor-tablas-main {
  border: none;
  margin: 0;
  background-color: transparent;
}

.img-grid {
  width: 15rem;
}

.informacion-top-puntos {
  position: absolute;
  top: -5px;
  left: 3%;
  font-size: 2rem;
}

.informacion-top-puntos span:first-child {
  color: #f82e2b;
}

.informacion-top-puntos span:nth-child(2) {
  color: #b28d21;
}

.informacion-top-puntos span:last-child {
  color: #539279;
}

.informacion-top {
  top: 5%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #a2b5b1;
  border: 1px solid #9a9b94;
  padding: 0.5rem 0 0.5rem 0;
  color: #f7f5f6;
}

.item4 .contenedor-tablas-main {
  margin-top: 4rem;
  
}

.contenedor-datos {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 100%;
  text-align: left;
}

.contenedor-datos h4 {
  width: 100%;
  background-color: #b9c2bf;
  border: 1px solid #8e897f;
  border-radius: 0.5rem;
  border-left: none;
  padding-left: 0.3rem;
}

.contenedor-apartados-informacion-personal-span {
  display: flex;
  flex-direction: column;
  border: 1px solid #8e897f;
  border-left: none;
  border-top: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.contenedor-apartados-informacion-personal,
.contenedor-apartados-informacion-contacto {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  row-gap: 0.2rem;
  padding: 1rem;
  border-radius: 1rem;
}

/* desde aqui */
.color-fondo-horario {
  background-color: #fb8690;
  width: 100%;
  height: 18%;
  color: #fcf6f1;
  position: absolute;
  top: 0;
  text-align: center;
  margin-bottom: 4rem;
}

.c {
  position: absolute;
  color: #414652;
  z-index: 1;
  white-space: nowrap;
  top: -1.7rem;
  font-size: 3rem;
}

.item5 .contenedor-tablas-main {
  border: 1px solid #8e9587;
}

.item5 h4 {
  color: #fcf6f1;
  z-index: 1;
}



.contenedor-tablas-main {
  width: 100%;
  overflow: hidden;
  background-color: #ebe6e6;
  justify-items: center;
  border-radius: 1rem;
  border: 1px solid;
  margin-top: 1rem;
  transition: transform 0.5s ease;
}

.contenedor-tabla-reportes-academico-titulo,
.contenedor-tabla-inscripciones-academica-titulo {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contenedor-tabla-reportes-academico-titulo-derecha,
.contenedor-tabla-inscripciones-academica-titulo-derecha {
  display: flex;
  gap: 0.2rem;
}

.contenedor-tabla-inscripciones-academica-titulo-derecha select,
.contenedor-tabla-reportes-academico-titulo-derecha select {
  border: none;
  border-radius: 0.4rem;
  background-color: transparent;
  color: #223e65;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.contenedor-tablas-main:hover,
.contenedor-tabla-reportes-academico-titulo-derecha select:hover,
.contenedor-tabla-inscripciones-academica-titulo-derecha select:hover {
  background-color: #ebe6e6;
}



.crear-cuenta-usuario {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Dos columnas de igual tamaño */
  gap: 1rem; /* Espacio entre columnas */
  padding: 1rem;
}
.crear-cuenta {
  text-align: center;
  margin-bottom: 5px;
}
.crear-cuenta legend {
  font-size: medium;
  background-color: #a2b5b1;
}
.usuario-info {
  align-items: left;
}
.usuario-info legend {
  font-size: medium;
}
.crear-cuenta-usuario .contenedor-apartados-informacion-personal-span {
  font-size: medium;
  align-items: left;
}

#contenedor-registro,
#contenedor-matricula {
  text-align: center;
  margin: 10px 20px;
}
/* 
.opcion-matricula , .opcion-registro{

  display: none;
}

.rol-docente , .rol-estudiante{
  display: none;
}
.opcion-matricula-registrar, .opcion-matricula-eliminar{

  display: none;
} */

#contenedor-registro-incripcion header,
i {
  color: rgb(239, 96, 120);
}
.hidden {
  display: none;
}

fieldset {
  border-color: #223e65;

  background-color: #d5e6f7;
  border-radius: 1rem;
  margin-bottom: 8px;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
legend {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 5px;
  background-color: #2563eb;
  border-radius: 0.5rem;
  color: white;
  text-align: left;
}

fieldset label {
  display: block;
  width: 200px;
  margin-right: 50px;
  font-size: 1.2rem;
  font-weight: bold;
}

fieldset input,
select {
  padding: 10px;
  border-radius: 0.8rem;
  border-style: solid;
  border-color: #94b0d3;
  border-width: 1.5px;
  margin: 0.8rem;
  margin-left: 0.5rem;
  background-color: #ffffff;
  outline-color: #223e65;
}

fieldset .campo {
  display: flex;
  flex-direction: inherit;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4px;
}

textarea {
  width: 100%;
  height: 150px;
  resize: none;
  padding: 10px;
  margin: 10px;
  border: 1.5px solid #94b0d3;
  border-radius: 0.5rem;
}

#contenedor-registro button,
#contenedor-matricula button {
  background-color: #237cba;
  color: #ffffff;
  padding: 12px;
  margin: 6px;
  border-radius: 2rem;
  border: 0.6px solid #223e65;
  cursor: pointer;
  font-size: medium;
}

#contenedor-registro button:hover,
#contenedor-matricula button:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background-color: #029eff;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.contenedor-eliminar-matricula {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-top: 10px;
}
.tabla-contenedor {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: auto;
  margin-top: 10px;
}

td,
th {
  padding: 10px;
  border: 1px solid #223e65;
}
tbody {
  font-size: medium;
  background-color: #ffffff;
  border-radius: 4px;
}
td button {
  padding: 5px 5px;
  border: none;
  background-color: #e04a40;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

td button:hover {
  background-color: #c0392b;
}

.fondo-apartados-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1px);
  display: none;
}

.cerrar-fondo-apartados-grid {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.7rem;
  font-size: 2rem;
  cursor: pointer;
  background-color: rgba(181, 173, 173, 0.8);
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.cerrar-fondo-apartados-grid:hover {
  background-color: rgba(186, 203, 193, 1);
  color: #b81d2d;
}

.contenedor-apartados-grid {
  cursor: default;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 85vh;
}

::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border: 1px solid #010f3f;
  background-color: #ffffff;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  border: 1px solid #010f3f;
}

::-webkit-scrollbar-thumb {
  background-color: #010f3f;
  border: 2px solid #f0f0f0;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7ebaf7;
}
