<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/estudiantes.css">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>Estudiantes</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#" onclick="carruselBotones(0)" class="navbar-cuenta">Cuenta</a>
            <a href="#" onclick="carruselBotones(1)" class="navbar-estudiante">Estudiante</a>
            <a href="#" onclick="carruselBotones(2)" class="navbar-soporte">Soporte</a>
            <div class="slider"></div>
        </nav>
        <div class="titulo-perfil-academico">
            <div class="titulo-perfil-academico-izquierda">
                <i class="ph ph-push-pin pin"></i>
                <i class="ph ph-student estudiante"></i>
                <h2>Nombre Estudiante</h2>
            </div>
            <h1 class="titulo-perfil-academico-medio">Perfil academico</h1>
            <h2 class="titulo-perfil-academico-derecha">Grado</h2>
            <img src="sentada2.png" class="titulo-perfil-academico-img">
        </div>
    </header>
    <main>
        <div class="carrusel">
            <div class="grid-container">
                <h1>cuenta</h1>
            </div>
            <div class="grid-container">
                <div class="item1">
                    <img src="https://img.freepik.com/vector-gratis/ilustracion-dibujos-animados-nerd-dibujados-mano_23-2151219098.jpg" class="img-grid">
                </div>
                <div class="item2">
                    <h4>Perfil</h4>
                    <div class="contenedor-tablas-main">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        Docente
                                    </th>
                                    <th>
                                        asignatura
                                    </th>
                                    <th>
                                        1er periodo
                                    </th>
                                    <th>
                                        2do periodo
                                    </th>
                                    <th>
                                        3er periodo
                                    </th>
                                    <th>
                                        4to periodo
                                    </th>
                                    <th>
                                        definitiva
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="item3">
                    <h4>Horario</h4>
                    <div class="contenedor-tablas-main">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        Hora
                                    </th>
                                    <th>
                                        Lunes
                                    </th>
                                    <th>
                                        Martes
                                    </th>
                                    <th>
                                        Miercoles
                                    </th>
                                    <th>
                                        Jueves
                                    </th>
                                    <th>
                                        Viernes
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        6:30 - 7:30
                                    </td>
                                    <td>
                                        Matemáticas
                                    </td>
                                    <td>
                                        Español
                                    </td>
                                    <td>
                                        Matemáticas
                                    </td>
                                    <td>
                                        Matemáticas
                                    </td>
                                    <td>
                                        Español
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        7:30 - 8:30
                                    </td>
                                    <td>
                                        Matemáticas
                                    </td>
                                    <td>
                                        Español
                                    </td>
                                    <td>
                                        Matemáticas
                                    </td>
                                    <td>
                                        Matemáticas
                                    </td>
                                    <td>
                                        Español
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        8:30 - 9:30
                                    </td>
                                    <td>
                                        Matemáticas
                                    </td>
                                    <td>
                                        Español
                                    </td>
                                    <td>
                                        Matemáticas
                                    </td>
                                    <td>
                                        Matemáticas
                                    </td>
                                    <td>
                                        Español
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        9:30 - 10:00
                                    </td>
                                    <td>
                                        Receso
                                    </td>
                                    <td>
                                        Receso
                                    </td>
                                    <td>
                                        Receso
                                    </td>
                                    <td>
                                        Receso
                                    </td>
                                    <td>
                                        Receso
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        10:00 - 11:00
                                    </td>
                                    <td>
                                        Matemáticas
                                    </td>
                                    <td>
                                        Español
                                    </td>
                                    <td>
                                        Matemáticas
                                    </td>
                                    <td>
                                        Matemáticas
                                    </td>
                                    <td>
                                        Español
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        11:00 - 12:00
                                    </td>
                                    <td>
                                        Matemáticas
                                    </td>
                                    <td>
                                        Español
                                    </td>
                                    <td>
                                        Matemáticas
                                    </td>
                                    <td>
                                        Matemáticas
                                    </td>
                                    <td>
                                        Español
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="item4">
                    <h4>Resultados Academicos</h4>
                    <div class="contenedor-tablas-main">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        Docente
                                    </th>
                                    <th>
                                        asignatura
                                    </th>
                                    <th>
                                        1er periodo
                                    </th>
                                    <th>
                                        2do periodo
                                    </th>
                                    <th>
                                        3er periodo
                                    </th>
                                    <th>
                                        4to periodo
                                    </th>
                                    <th>
                                        definitiva
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="item5">
                    <div class="contenedor-tabla-historial-academico-titulo">
                        <i class="ph-bold ph-book-bookmark"></i>
                        <h4>Historial Academico</h4>
                        <div class="contenedor-tabla-historial-academico-titulo-derecha">
                            <h6>Año academico:</h6>
                            <select>
                                <option >2024</option>
                                <option >2023</option>
                                <option >2022</option>
                            </select>
                        </div>
                    </div>
                    <div class="contenedor-tablas-main">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        Docente
                                    </th>
                                    <th>
                                        asignatura
                                    </th>
                                    <th>
                                        1er periodo
                                    </th>
                                    <th>
                                        2do periodo
                                    </th>
                                    <th>
                                        3er periodo
                                    </th>
                                    <th>
                                        4to periodo
                                    </th>
                                    <th>
                                        definitiva
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                    <td>
                                        hola
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="grid-container">
                <h1>sopolte</h1>
            </div>
        </div>
    </main>
    <script src="/src/main/resources/static/estudiantes.js"></script>
</body>
</html>

