<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/estudiantes.css">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>Estudiantes</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#" class="navbar-cuenta">Cuenta</a>
            <a href="#" class="navbar-estudiante">Estudiante</a>
            <a href="#" class="navbar-soporte">Soporte</a>
            <div class="slider"></div>
        </nav>
        <div class="titulo-perfil-academico">
            <div class="titulo-perfil-academico-izquierda">
                <i class="ph ph-push-pin pin"></i>
                <i class="ph ph-student estudiante"></i>
                <h2>Nombre Estudiante</h2>
            </div>
            <h1 class="titulo-perfil-academico-medio">Perfil academico</h1>
            <h2 class="titulo-perfil-academico-derecha">Curso</h2>
            <img src="sentada2.png" class="titulo-perfil-academico-img">
        </div>
    </header>
    <main>
        <div class="grid-container">
            <div class="item1">
                <img src="https://img.freepik.com/vector-gratis/ilustracion-dibujos-animados-nerd-dibujados-mano_23-2151219098.jpg" class="img-grid">
            </div>
            <div class="item2">
                <h4>Perfil</h4>
                <div></div>
            </div>
            <div class="item3">
                <h4>Horarios</h4>
                <div></div>
            </div>
            <div class="item4">
                <h4>Asignaturas</h4>
                <div></div>
            </div>
            <div class="item5">
                <h4>Resultados Academicos</h4>
                <div></div>
            </div>
            <div class="item6">
                <h4>Historial Academico</h4>
                <div></div>
            </div>
        </div>
    </main>
    <script src="/src/main/resources/static/estudiantes.js"></script>
</body>
</html>

