<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/secretaria.css">
  <script src="https://unpkg.com/@phosphor-icons/web"></script>
  <title>Secretaria Académica</title>
</head>

<body>
  <header>
    <nav class="navbar">
      <a href="#" onclick="carruselBotones(0)" class="navbar-cuenta">Cuenta</a>
      <a href="#" onclick="carruselBotones(1)" class="navbar-secretaria">Secretaria Académica</a>
      <a href="#" onclick="carruselBotones(2)" class="navbar-soporte">Soporte</a>
      <div class="slider"></div>
    </nav>
    <div class="titulo-perfil-academico">
      <div class="titulo-perfil-academico-izquierda">
        <span>•</span>
        <span>•</span>
        <i class="ph-fill ph-map-pin pin"></i>
        <h2>Nombre Secretaria</h2>
      </div>
      <h1 class="titulo-perfil-academico-medio">Perfil Académico</h1>
      <h2 class="titulo-perfil-academico-derecha">Puesto</h2>
      <img src="sentada2.png" class="titulo-perfil-academico-img" alt="niña sentada">
    </div>
  </header>
  <main>
    <div class="carrusel">
      <div class="grid-container">
        <div class="item1">
          <h4>Cambiar Contraseña</h4>
          <i class="ph-duotone ph-lock-key cuenta-sticker-opciones"></i>
          <div class="contenedor-cambiar-contraseña">
            <h4>Cambiar Contraseña</h4>
            <p class="obligacion-contraseña">La contraseña debe contener al menos 8 caracteres</p>
            <form method="post" class="formulario-cambiar-contraseña">
              <input type="password" placeholder="Contraseña actual" minlength="8" required>
              <input type="password" placeholder="Contraseña nueva" minlength="8" required>
              <input type="password" placeholder="Repetir contraseña nueva" minlength="8" required>
              <button>Cambiar Contraseña</button>
            </form>
          </div>
        </div>
        <div class="item2">
          <h4>Cerrar Sesión</h4>
          <i class="ph-duotone ph-sign-out cuenta-sticker-opciones"></i>
          <div class="contenedor-cerrar-sesion">
            <h4>¿Salir de la sesión?</h4>
            <button class="boton-no-cerrar-sesion">No</button>
            <button class="boton-si-cerrar-sesion">Sí</button>
          </div>
        </div>
      </div>
      <div class="grid-container">
        <div class="item3">
          <div class="contenedor-tablas-main">
            <img
              src="https://img.freepik.com/vector-gratis/ilustracion-dibujos-animados-nerd-dibujados-mano_23-2151219098.jpg"
              class="img-grid" alt="niño pequeño">
          </div>
        </div>
        <div class="item4">
          <div class="informacion-top-puntos">
            <span>•</span>
            <span>•</span>
            <span>•</span>
          </div>
          <div class="informacion-top">
            <h4>Información</h4>
          </div>
          <div class="contenedor-tablas-main">
            <div class="contenedor-datos">
              <div class="contenedor-apartados-informacion-personal">
                <h4>Información Personal</h4>
                <div class="contenedor-apartados-informacion-personal-span">
                  <span>Nombre Completo: </span>
                  <span>Número de Identificación:</span>
                  <span>Fecha de Nacimiento:</span>
                  <span>Edad:</span>
                  <span>Género:</span>
                  <span>Número de Teléfono:</span>
                </div>
              </div>
              <div class="contenedor-apartados-informacion-contacto">
                <h4>Información de Contacto</h4>
                <div class="contenedor-apartados-informacion-personal-span">
                  <span>Correo Electrónico:</span>
                  <span>Teléfono de Contacto:</span>
                  <span>Dirección de Residencia:</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item5">
          <div class="c">C C C C C C C C</div>
          <div class="color-fondo-horario"></div>
          <h4>cuentas</h4>
          <div class="contenedor-tablas-main">
            <div class="cuenta-usuario">
              <table class="tabla-estudiantes-cuenta">

              </table>
              <div class="crear-cuenta-usuario">
                <div class="crear-cuenta">
                  <form method="post" class="formulario-crear-cuenta">
                    <fieldset>
                      <legend>Crear Cuenta de Usuario</legend>

                      <input type="text" placeholder="Nombre completo" required>
                      <input type="email" placeholder="Email" required>
                      <input type="password" placeholder="Contraseña" minlength="8" required>
                      <button type="button">Crear Cuenta</button>

                    </fieldset>
                  </form>
                </div>
                <div class="usuario-info">
                  <fieldset>
                    <legend>Informacion Personal</legend>

                    <div class="contenedor-apartados-informacion-personal-span">
                      <span>Nombre : </span>
                      <span>Nro de Identificación:</span>
                      <span>Número de Teléfono:</span>
                      <span>Email:</span>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="item6">
          <div class="contenedor-tabla-reportes-academico-titulo">
            <h4>Generar Reportes</h4>
            <div class="contenedor-tabla-reportes-academico-titulo-derecha">
              <h6>Tipo de reporte:</h6>
              <select name="tipo-reporte" id="tipo-reporte">
                <option value=" " disabled="disabled" selected>Selecciona un tipo de reporte</option>
                <option value="notas">Reporte de notas estudiantiles</option>
                <option value="matricula">Reporte de matrícula</option>
                <option value="docente">Reporte docente</option>
                <option value="planificacion-academica">Planificación académica</option>
              </select>
            </div>
          </div>
          <!-- Contenido para generar reportes -->
          <div class="contenedor-tablas-main">
            <div id="contenedor-reporte-notas" class="contenido-reporte" style="display: none;">
              <!-- Contenido del reporte de notas estudiantiles -->
              nnnnn
            </div>

            <div id="contenedor-reporte-matricula" class="contenido-reporte" style="display: none;">
              <!-- Contenido del reporte de matrícula -->
              mmmmmm
            </div>

            <div id="contenedor-reporte-docente" class="contenido-reporte" style="display: none;">
              <!-- Contenido del reporte docente -->
              dddd
            </div>

            <div id="contenedor-reporte-planificacion-academica" class="contenido-reporte" style="display: none;">
              <!-- Contenido de la planificación académica -->
              aaaaa
            </div>
          </div>
        </div>

        <div class="item7">
          <div class="contenedor-tabla-inscripciones-academica-titulo">
            <i class="ph-bold ph-book-bookmark"></i>
            <h4>INSCRIPCIONES</h4>
            <div class="contenedor-tabla-reportes-academico-titulo-derecha">
              <h6>Procesos principal:</h6>
              <select name="opcion-proceso" id="opcion-proceso">
                <option value="" disabled selected>Seleccionar</option>
                <option value="matricula">Matricula academica</option>
                <option value="registro">Registro Usuario</option>

              </select>
            </div>
          </div>
          <div class="contenedor-tablas-main">
            <div class="contenedor-inscripcion">
              <!-- contenido registro -->
              <div id="contenedor-registro" class="opcion-registro">
                <div id="contenedor-registro-main">
                  <header>
                    <h3>Procesos registro</h3>
                  </header>
                  <!-- buscador principal-->
                  <form action="" method="post">
                    <fieldset>
                      <legend>Buscador de registros</legend>
                      <div class="campo">
                        <label for="proceso-registro">
                          <i class="ph ph-caret-circle-double-right"></i> Proceso:
                        </label>
                        <select id="proceso-registro" name="proceso-registro" required>
                          <option value=" " disabled selected>Selecciona un proceso</option>
                          <option value="registrar">Registrar</option>
                          <option value="consultar">Consultar</option>
                          <option value="modificar-estudiante">Modificar registro</option>
                          <option value="eliminar-estudiante">Eliminar registro</option>
                        </select>
                      </div>
                      <div class="campo">
                        <label for="roles">
                          <i class="ph ph-list"></i> Rol Usuario:
                        </label>
                        <select id="roles" name="roles" required>
                          <option value="" disabled selected>Selecciona su rol:</option>
                          <option value="estudiante">Estudiante</option>
                          <option value="docente">Docente</option>
                        </select>
                      </div>

                      <div id="field" style="display: none;">
                        <div class="campo">
                          <label for="nombre">
                            <i class="ph ph-user"></i> Nombre completo:
                          </label>
                          <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre" required
                            pattern="[a-zA-Z\s]+" title="Solo letras y espacios permitidos">
                        </div>

                        <div class="campo">
                          <label for="documento">
                            <i class="ph ph-identification-card"></i> Nro de documento:
                          </label>
                          <input type="number" id="documento" name="documento" placeholder="Ingresa tu documento"
                            required min="1" title="Solo números válidos">
                        </div>
                      </div>
                    </fieldset>

                    <button type="button" id="consultarBtn">Consultar</button>
                  </form>

                </div>
                <!-- Registro estudiante -->
                <div id="contenedor-registrar-estudiante" class="rol-estudiante">
                  <header>
                    <h3>Registro de estudiante</h3>
                  </header>
                  <form action="" method="post">
                    <fieldset>
                      <legend class="encabezado-informacion-estudiante">
                        Informacion basica del estudiante
                      </legend>
                      <div class="campo">
                        <label for="nombre-estudiante"><i class="ph ph-user"></i> Nombre
                          completo:</label>
                        <input type="text" id="nombre-estudiante" required><br>
                      </div>

                      <div class="campo">
                        <label for="fecha-nacimiento-estudiante"><i class="ph ph-calendar"></i> Fecha de
                          nacimiento:</label>
                        <input type="date" id="fecha-nacimiento-estudiante" required><br>
                      </div>
                      <div class="campo">
                        <label for="documento-estudiante"> <i class="ph ph-identification-card"></i>Nro de
                          documento:</label>
                        <input type="number" id="documento-estudiante" name="documento-estudiante">
                      </div>
                    </fieldset>

                    <fieldset>
                      <legend class="encabezado-contacto">Informacion de contacto</legend>
                      <div class="campo"> <label for="telefono-estudiante"> <i class="ph ph-phone"></i>
                          Numero de
                          telefono:</label>
                        <input type="tel" id="telefono-estudiante" name="telefono-estudiante"><br>
                      </div>
                      <div class="campo">
                        <label for="email-estudiante"><i class="ph ph-envelope-simple"></i> Correo
                          electrónico:</label>
                        <input type="email" id="email-estudiante" name="email-estudiante"><br>
                      </div>

                    </fieldset>

                    <fieldset>
                      <legend class="encabezado-tutor">Información de los Padres o Tutores
                      </legend>
                      <div class="campo">
                        <label for="nombre-acudiente"><i class="ph ph-user"></i>Nombre del
                          Padre/Madre o
                          Tutor:</label>
                        <input type="text" id="nombre-acudiente" name="nombre-acudiente" required><br>
                      </div>
                      <div class="campo">
                        <label for="rel"><i class="ph ph-person-simple-circle"></i>Parentesco:</label>
                        <input type="text" id="rel" name="rel" required><br>
                      </div>
                      <div class="campo">
                        <label for="telefono-tutor"><i class="ph ph-phone"></i>Teléfono del
                          Padre/Madre
                          o Tutor:</label>
                        <input type="tel" id="telefono-tutor" name="telefono-tutor" required><br>
                      </div>
                      <div class="campo">
                        <label for="direccion-acudiente"><i class="ph ph-house"></i>direccion de su domicilio:</label>
                        <input type="text" name="direccion-acudiente" id="direccion-acudiente" required>

                      </div>
                    </fieldset>

                    <fieldset>
                      <legend class="encabezado-informacion-academica">Informacion academica
                      </legend>
                      <div class="campo">
                        <label for="escuela-anterior"><i class="ph ph-house"></i>Escuela
                          anterior:</label>
                        <input type="text" id="escuela-anterior" name="escuela-anterior" required><br>
                      </div>
                      <div class="campo">
                        <label for="año-anterior"><i class="ph ph-calendar"></i> Año académico
                          anterior:</label>
                        <input type="text" id="año-anterior" name="año-anterior" required>
                        <br>
                      </div>
                      <div class="campo">
                        <label for="promedio-academico"><i class="ph ph-percent"></i>Promedio general del
                          último
                          año:</label>
                        <input type="number" id="promedio-academico" step="0.1" min="0" max="5"
                          name="promedio-academico" required><br>
                      </div>

                      <div class="campo">
                        <label for="grado-academico"><i class="ph ph-student"></i>Nivel academico:</label>
                        <select name="grado-academico" id="grado-academico" required>
                          <option value="" disabled selected>Grado</option>
                          <option value="grado1">1°</option>
                          <option value="grado2">2°</option>
                          <option value="grado3">3°</option>
                          <option value="grado4">4°</option>
                          <option value="grado5">5°</option>
                          <option value="grado6">6°</option>
                          <option value="grado7">7°</option>
                          <option value="grado8">8°</option>
                          <option value="grado9">9°</option>
                          <option value="grado10">10°</option>
                          <option value="grado11">11°</option>
                        </select>
                      </div>
                      <!-- Adjuntar documentos -->
                      <div class="campo">
                        <label for="documentos-necesario"><i class="ph ph-file"></i>Adjuntar documentos
                          (si
                          aplica):</label>
                        <input type="file" id="documentos-necesario" name="documentos-necesario" multiple>
                      </div>

                      <div class="campo">
                        <label for="observaciones"><i class="ph ph-notepad"></i>Observaciones
                          académicas:</label>
                        <textarea id="observaciones" name="observaciones" rows="3"></textarea>
                        <br>
                      </div>
                    </fieldset>

                    <div class="btn">
                      <button type="submit">Cancelar</button>
                      <button type="button" class="btn">Registrar</button>
                    </div>
                  </form>
                </div>
                <!-- registro docente -->
                <div id="contenedor-registrar-docente" class="rol-docente">
                  <header>
                    <h3>Registro de docente</h3>
                  </header>
                  <form action="" method="post">
                    <fieldset>
                      <legend class="encabezado-informacion-estudiante">
                        Informacion basica del docente
                      </legend>
                      <div class="campo">
                        <label for="nombre-docente"><i class="ph ph-user"></i> Nombre
                          completo:</label>
                        <input type="text" id="nombre-docente" name="nombre-docente" required><br>
                      </div>

                      <div class="campo">
                        <label for="fecha-nacimiento-docente"><i class="ph ph-calendar"></i> Fecha de
                          nacimiento:</label>
                        <input type="date" id="fecha-nacimiento-docente" name="fecha-nacimiento-docente" required><br>
                      </div>
                      <div class="campo">
                        <label for="documento-docente"> <i class="ph ph-identification-card"></i>Nro de
                          documento:</label>
                        <input type="number" id="documento-docente" name="documento-docente">
                      </div>
                    </fieldset>

                    <fieldset>
                      <legend class="encabezado-contacto">Informacion de contacto</legend>
                      <div class="campo"> <label for="telefono-docente"> <i class="ph ph-phone"></i>
                          Numero de
                          telefono:</label>
                        <input type="tel" id="telefono-docente" name="telefono-docente" required><br>
                      </div>
                      <div class="campo">
                        <label for="email-docente"><i class="ph ph-envelope-simple"></i> Correo
                          electrónico:</label>
                        <input type="email" id="email-docente" name="email-docente" required><br>
                      </div>
                      <div class="campo">
                        <label for="direccion-docente"><i class="ph ph-house"></i>Direccion de domicilio:</label>
                        <input type="text" id="direccion-docente" name="direccion-docente" required>

                      </div>

                    </fieldset>

                    <fieldset>
                      <legend>Informacion laboral</legend>
                      <div class="campo">
                        <label for="maestria"> <i class="ph ph-graduation-cap"></i>Maestria</label>
                        <select name="maestria" id="maestria" required>
                          <option value="" disabled selected>Seleccionar maestria:</option>
                          <option value="">Matematica</option>
                          <option value="">Humanidades</option>
                          <option value="">Matematica</option>
                          <option value="">ciencias sociales</option>
                          <option value="">ciencias naturales y ed.ambiental</option>
                          <option value="">Educacion artistica y cultural</option>
                          <option value="">Tecnologia e informatica</option>
                        </select>
                      </div>
                      <div class="campo">
                        <label for="salario"> <i class="ph ph-money"></i>Salario docente:</label>
                        <input type="number" name="salario" id="salario" required>

                      </div>
                    </fieldset>
                    <div class="btn">
                      <button type="submit">Cancelar</button>
                      <button type="button" class="btn">Registrar</button>
                    </div>
                  </form>
                </div>
                <!-- Consultar estudiante -->
                <div class="tabla-contenedor">


                </div>
              </div>

              <!-- contenido de matricula -->
              <div id="contenedor-matricula" class="opcion-matricula">
                <div id="contenedor-matricula-main">
                  <header>
                    <h3>Proceso de matrícula</h3>
                  </header>

                  <form action="" method="post">
                    <fieldset>
                      <legend>buscador Matricula</legend>

                      <div class="campo">
                        <label for="nombre-estudiante2"><i class="ph ph-user"></i>Nombre completo:</label>
                        <input type="text" id="nombre-estudiante2" name="nombre-estudiante2"
                          placeholder="Ingresa tu nombre" required>
                      </div>

                      <div class="campo">
                        <label for="documento-buscar2"> <i class="ph ph-identification-card"></i>Nro de
                          documento:</label>
                        <input type="number" id="documento-buscar2" name="documento" placeholder="Ingresa tu documento"
                          required>
                      </div>
                      <div class="campo">
                        <label for="proceso-matricula"><i class="ph ph-caret-circle-double-right"></i>
                          Proceso:</label>
                        <select id="proceso-matricula" name="proceso-matricula" required>
                          <option value="">Selecciona un proceso</option>
                          <option value="matricula-registrar">Registrar matrícula</option>
                          <option value="-matricula-consultar">Consultar estado de matrícula</option>
                          <option value="matricula-modificar">Modificar matrícula</option>
                          <option value="matricula-eliminar">Eliminar matrícula</option>
                        </select>
                      </div>

                    </fieldset>
                    <button type="submit" id="mostrar-processo">Consultar</button>
                  </form>
                </div>
                <div id="contenedor-matricula-registrar" class="opcion-matricula-registrar">
                  <header>
                    <h3>Matricula de estudiante</h3>
                  </header>
                  <form action="" method="post">
                    <fieldset>
                      <legend>Identificación del Estudiante</legend>
                      <div class="campo">
                        <label for="documento-buscar"><i class="ph ph-identification-card"></i>Nro de
                          Documento:</label>
                        <input type="text" id="documento-buscar" name="documento" required>
                      </div>
                    </fieldset>
                    <fieldset>
                      <legend>Actualización de Datos</legend>
                      <div class="campo">
                        <label for="direccion"><i class="ph ph-pencil"></i>Dirección (solo si ha
                          cambiado):</label>
                        <input type="text" id="direccion" name="direccion">
                      </div>
                      <div class="campo">
                        <label for="telefono"><i class="ph ph-pencil"></i>Teléfono (solo si ha
                          cambiado):</label>
                        <input type="text" id="telefono" name="telefono">
                      </div>
                    </fieldset>
                    <fieldset>
                      <legend>Grado a Matricular</legend>
                      <div class="campo">
                        <label for="grado"><i class="ph ph-student"></i>Seleccione el
                          grado:</label>
                        <select id="grado" required>
                          <option value="">Seleccione el grado</option>
                          <option value="1">1°</option>
                          <option value="2">2°</option>
                          <option value="3">3°</option>
                          <option value="4">4°</option>
                          <option value="5">5°</option>
                          <option value="6">6°</option>
                          <option value="7">7°</option>
                          <option value="8">8°</option>
                          <option value="9">9°</option>
                          <option value="10">10°</option>
                          <option value="11">11°</option>
                        </select>
                      </div>
                      <div class="campo">
                        <label for="fecha-matricula"><i class="ph ph-calendar"></i> Fecha de
                          Matricula:</label>
                        <input type="date" id="fecha-matricula"><br>
                      </div>

                      <div class="campo">
                        <label for="estado"><i class="ph ph-user-check"></i>Estado del
                          estudiante</label>
                        <select name="" class="estado">
                          <option value="inactivo" selected>inactivo</option>
                          <option value="Activo">Activo</option>
                          <option value="suspendida">suspendida</option>

                        </select>
                      </div>
                    </fieldset>

                    <div class="btn">
                      <button type="submit">Cancelar</button>
                      <button type="button" class="btn">Confirmar Matrícula</button>
                    </div>
                  </form>
                </div>
                <div id="contenedor-matricula-eliminar" class="opcion-matricula-eliminar">
                  <div class="contenedor-tablas-main">
                    <fieldset>
                      <legend>Listado de matriculas</legend>
                      <div class="campo">
                        <label for="text">Buscar id del estudiante</label>
                        <input type="text" class="text">
                      </div>
                      <div class="tabla-contenedor">
                        <table class="tabla-matricula">
                          <thead>
                            <tr>
                              <td style="background-color: #D1BFB0;">id</td>
                              <td style="background-color: #E4B0AB;">Nombre</td>
                              <td style="background-color: #D3BB95;">grado</td>
                              <td style="background-color: #AFC0B8;">estado</td>
                              <td style="background-color: #E5B2AA;">opcion</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1234</td>
                              <td>daimer saltaren</td>
                              <td>6°</td>
                              <td>Activo</td>
                              <td><button type="button">Eliminar</button></td>
                            </tr>
                            <tr>
                              <td>1234</td>
                              <td>daimer saltaren</td>
                              <td>6°</td>
                              <td>Activo</td>
                              <td><button type="button">Eliminar</button></td>
                            </tr>
                            <tr>
                              <td>1234</td>
                              <td>daimer saltaren</td>
                              <td>6°</td>
                              <td>Activo</td>
                              <td><button type="button">Eliminar</button></td>
                            </tr>
                            <tr>
                              <td>1234</td>
                              <td>daimer saltaren</td>
                              <td>6°</td>
                              <td>Activo</td>
                              <td><button type="button">Eliminar</button></td>
                            </tr>
                            <tr>
                              <td>1234</td>
                              <td>daimer saltaren</td>
                              <td>6°</td>
                              <td>Activo</td>
                              <td><button type="button" onclick="confirmarEliminacion(this)">Eliminar</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </fieldset>
                  </div>

                </div>
              </div>

              <!-- Final de los procesos -->
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-container">
        <div class="item8">
          <h4>Preguntas Frecuentes</h4>
        </div>
        <div class="item9">
          <h4>Contactar</h4>
          <!-- (teléfono, correo electrónico). -->
        </div>
        <div class="item10">
          <h4>Reportar Problema</h4>
          <!-- Opción para reportar errores técnicos en la plataforma, con espacio para agregar capturas de pantalla o descripciones detalladas. -->
        </div>
      </div>

    </div>

  </main>
  <div class="fondo-apartados-grid">
    <span class="cerrar-fondo-apartados-grid">X</span>
    <div class="contenedor-apartados-grid"></div>
  </div>

  <script src="../static/secretaria.js"></script>
</body>

</html>
